<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link href="/css/chat.css" rel="stylesheet" type="text/css" />

  <script src="/js/jquery.min.js"></script>
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</head>
<body>
<head th:replace="fragments/bodyHeader :: bodyHeader" />
<!-- main -->
<main>
  <div class="container">
    <div class="chat_box">
      <div class="head">
        <div class="user">
          <div class="avatar">
            <img class="picChat" th:if="${user.profileImg != null}" th:src="'/img/profile/'+ ${user.profileImg}" alt="마이페이지">
            <img class="picChat" th:unless="${user.profileImg != null}" src="/img/profile04.png" alt="마이페이지">
          </div>
          <div class="name" th:text="${user.name}"></div>
        </div>
        <ul class="bar_tool">
          <li><span class="alink"><i class="fas fa-phone"></i></span></li>
          <li><span class="alink"><i class="fas fa-video"></i></span></li>
          <li><span class="alink"><i class="fas fa-ellipsis-v"></i></span></li>
        </ul>
      </div>
      <div class="body" id="chatroom">

        <div class="typing">
          <div class="bubble">
            <div class="ellipsis dot_1"></div>
            <div class="ellipsis dot_2"></div>
            <div class="ellipsis dot_3"></div>
          </div>
        </div>
      </div>
      <div class="foot">
        <input type="text" class="msg" id="message" placeholder="Type a message..." onKeypress="javascript:if(event.keyCode==13) {send();}" />
        <button type="submit" id = "send"><i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</main>

<script th:inline="javascript">

  var webSocket;
  /*<![CDATA[*/
  var userId = [[${user.userId}]];
  var nickname = [[${user.name}]];
  /*]]>*/
  $(document).ready(function() {
    connect();
  });
  document.getElementById("send").addEventListener("click",function(){
    send();
  })
  function connect(){
    webSocket = new WebSocket("ws://localhost:8080/chat");
    webSocket.onopen = onOpen;
    webSocket.onclose = onClose;
    webSocket.onmessage = onMessage;
  }
  function disconnect(){
    var jsonData = JSON.stringify({
      uId : userId,
      nick : nickname,
      message: "님이 퇴장하셨습니다."
    });
    webSocket.send(jsonData);
    webSocket.close();
  }
  function send(){
    msg = document.getElementById("message").value;

    var jsonData = JSON.stringify({
      uId : userId,
      nick : nickname,
      message : msg
    });
    webSocket.send(jsonData);
    document.getElementById("message").value = "";
  }
  function onOpen(){
    var jsonData = JSON.stringify({
      uId : userId,
      nick : nickname,
      message: "님이 입장하셨습니다."
    });
    webSocket.send(jsonData);
  }
  function onMessage(e){
    let mData = JSON.parse(e.data);
    let a = nickname ==  mData.nick ? "<div class=\"outgoing\">" : "<div class=\"incoming\">";

    chatRoom = document.getElementById("chatroom");
    a += '<div class="bubble"><p>'
            + mData.nick + " : " + mData.message
            + '</p></div></div>'
    chatRoom.innerHTML = chatRoom.innerHTML + a;
  }
  function onClose(){

  }

</script>
</body>
</html>