<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
</head>
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
    <head th:replace="fragments/bodyHeader :: bodyHeader" />
    <!-- main -->
    <main>
      <div class="feeds">
        <!-- article -->
        <div th:each="row : ${posts}">
          <article>
            <header>
              <div class="profile-of-article">
                <img class="img-profile pic" th:src="'/img/profile/'+ ${row.user.profileImg}" th:alt="${row.user.name}+'님의 프로필 사진'">
                <span class="userID main-id point-span" th:text="${row.user.name}"></span>
              </div>
              <img class="icon-react icon-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
            </header>
            <div class="main-image">
              <img th:src="'/img/feed/'+ ${row.user.userId} + '/' + ${row.postImages[0].imagePath}" th:alt="${row.user.name}+'님의 피드 사진'" class="mainPic">
            </div>
            <div class="icons-react">
              <div class="icons-left">
                <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png" alt="말풍선">
                <img class="icon-react" src="/img/dm.png" alt="DM">
              </div>
              <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png" alt="북마크">
            </div>
            <!-- article text data -->
            <div class="reaction">
              <div class="liked-people">
                <img class="pic" src="/img/profile04.png" alt="테스트계정님의 프로필 사진">
                <p><span class="point-span">테스트게정</span>님 <span class="point-span">외 112,751명</span>이 좋아합니다</p>
              </div>
              <div class="description">
                <p><span class="point-span userID">dlwlrma</span><span class="at-tag">@lal.jh @gucci</span> 🌱</p>
              </div>
              <div class="comment-section">
                <ul class="comments">
                  <li>
                    <span><span class="point-span userID">thisisjusthis</span>정복하고 구원</span>
                    <div>
                      <img class="comment-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
                      <div class="comment-like">
                        <img class="comment-heart" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                        <img class="comment-heart-liked" src="/img/liked.png" alt="좋아요된하트">
                      </div>
                    </div>
                  </li>
                  <!-- input 값 여기에 추가 -->
                </ul>
                <div class="time-log">
                  <span>32분 전</span>
                </div>
              </div>
            </div>
            <div class="hl"></div>
            <div class="comment">
              <input id="input-comment" class="input-comment" type="text" placeholder="댓글 달기..." >
              <button type="submit" class="submit-comment" disabled>게시</button>
            </div>
          </article>
        </div>
      </div>
      <!-- main-right -->
      <div class="main-right">
        <div class="myProfile">
          <img class="pic" th:src="'/img/profile/'+ ${user.profileImg}" th:alt="${user.name}+'님의 프로필 사진'">
          <div>
            <span class="userID point-span" th:text="${user.userId}"></span>
            <span class="sub-span" th:text="${user.name}"></span>
          </div>
        </div>
        <!-- story section -->
        <div class="section-story">
          <div class="menu-title">
            <span class="sub-title">스토리</span>
            <span class="find-more">모두 보기</span>
          </div>
          <ul class="story-list">
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a1.jpg" alt="test1님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test1</span>
                <span class="sub-span">8분 전</span>
              </div>
            </li>
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a2.jpg" alt="test2님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test2</span>
                <span class="sub-span">30분 전</span>
              </div>
            </li>
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a3.jpg" alt="test4님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test4</span>
                <span class="sub-span">33분 전</span>
              </div>
            </li>
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a4.jpg" alt="test5님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test5</span>
                <span class="sub-span">46분 전</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- recommendation section -->
        <div class="section-recommend">
          <div class="menu-title">
            <span class="sub-title">회원님을 위한 추천</span>
            <span class="find-more">모두 보기</span>
          </div>
          <ul class="recommend-list">
            <li>
              <div class="recommend-friend-profile">
                <img class="img-profile" src="/img/profile03.png" alt="renebaebae님의 프로필 사진">
                <div class="profile-text">
                  <span class="userID point-span">jongsuk0206</span>
                  <span class="sub-span">taeyeon_ss님 외 5명이 팔로우합니다</span>
                </div>
              </div>
              <span class="btn-follow">팔로우</span>
            </li>
            <li>
              <div class="recommend-friend-profile">
                <img class="img-profile" src="/img/profile02.png" alt="_jeongjaehyun님의 프로필 사진">
                <div class="profile-text">
                  <span class="userID point-span">hi_sseulgi</span>
                  <span class="sub-span">heybiblee님이 팔로우합니다</span>
                </div>
              </div>
              <span class="btn-follow">팔로우</span>
            </li>
            <li>
              <div class="recommend-friend-profile">
                <img class="img-profile" src="/img/profile04.png" alt="leehi_hi님의 프로필 사진">
                <div class="profile-text">
                  <span class="userID point-span">skawngur</span>
                  <span class="sub-span">soohyun_k216님 외 8명이 팔로우합...</span>
                </div>
              </div>
              <span class="btn-follow">팔로우</span>
            </li>
          </ul>
        </div>
        <footer>
          <p class="insta-sccript">
            소개 ∙ 도움말 ∙ 홍보 센터 ∙ API ∙ 채용 정보 ∙ 개인정보처리방침 ∙ <br>약관 ∙ 위치 ∙ 인기계정 ∙ 해시태그 ∙ 언어
            <br><br>
            © 2021 INSTAGRAM FROM FACEBOOK
          </p>
        </footer>
      </div>
    </main>
<script src="/js/main.js"></script>
</body>
</html>