<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
</head>
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
    <head th:replace="fragments/bodyHeader :: bodyHeader" />
    <!-- main -->
    <main>
      <div class="feeds">
        <!-- article -->
        <div th:each="row, index : ${posts}">
          <article>
            <header>
              <div class="profile-of-article">
                <img class="img-profile pic" th:if="${user.profileImg != null}" th:src="'/img/profile/'+ ${row.user.profileImg}" th:alt="${row.user.name}+'님의 프로필 사진'">
                <img class="img-profile pic" th:unless="${user.profileImg != null}" src="/img/profile04.png" th:alt="${row.user.name}+'님의 프로필 사진'">

                <span class="userID main-id point-span" th:text="${row.user.name}"></span>
              </div>
              <img class="icon-react icon-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
            </header>
            <div class="main-image">
              <img th:src="'/img/feed/'+ ${row.user.userId} + '/' + ${row.postImages[0].imagePath}" th:alt="${row.user.name}+'님의 피드 사진'" class="mainPic">
            </div>
            <div class="icons-react">
              <div class="icons-left">
                <div class="like" th:id="'like'+${row.id}">
                </div>
                <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/comment.png" alt="말풍선">
                <img class="icon-react" src="/img/dm.png" alt="DM">
              </div>
              <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/bookmark.png" alt="북마크">
            </div>
            <!-- article text data -->
            <div class="reaction">
              <div class="liked-people" th:id="'liked-people'+${row.id}">
              </div>
              <div class="description">
                <p><span class="point-span userID">dlwlrma</span><span class="at-tag">@lal.jh @gucci</span> 🌱</p>
              </div>
              <div th:class="'comment-section'+${row.id}">
              </div>
            </div>
            <div class="hl"></div>
            <form th:name="'commentForm'+${row.id}" th:onsubmit="'commentInsert('+${row.id}+')'">
              <div class="comment">
                <input type="hidden" name="pid" id="pid" th:value="${row.id}" />
                <input type="hidden" name="uid" id="uid" th:value="${user.id}" />
                <input th:id="${index.index}" class="input-comment" name="content" type="text" placeholder="댓글 달기..." >
                <button type="submit" th:id="'submit-comment'+${row.id}" class="submit-comment" disabled>게시</button>
              </div>
            </form>
          </article>
        </div>
      </div>
      <!-- main-right -->
      <div class="main-right">
        <div class="myProfile">
          <img class="pic" th:if="${user.profileImg != null}" th:src="'/img/profile/'+ ${user.profileImg}" th:alt="${user.name}+'님의 프로필 사진'">
          <img class="pic" th:unless="${user.profileImg != null}" src="/img/profile04.png" th:alt="${user.name}+'님의 프로필 사진'">
          <div>
            <span class="userID point-span" th:text="${user.userId}"></span>
            <span class="sub-span" th:text="${user.name}"></span>
          </div>
        </div>
        <!-- story section -->
        <div class="section-story">
          <div class="menu-title">
            <span class="sub-title">스토리</span>
            <span class="find-more">모두 보기</span>
          </div>
          <ul class="story-list">
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a1.jpg" alt="test1님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test1</span>
                <span class="sub-span">8분 전</span>
              </div>
            </li>
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a2.jpg" alt="test2님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test2</span>
                <span class="sub-span">30분 전</span>
              </div>
            </li>
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a3.jpg" alt="test4님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test4</span>
                <span class="sub-span">33분 전</span>
              </div>
            </li>
            <li>
              <div class="gradient-wrap">
                <img class="img-profile story" src="/img/a4.jpg" alt="test5님의 프로필 사진">
              </div>
              <div class="profile-text">
                <span class="userID point-span">test5</span>
                <span class="sub-span">46분 전</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- recommendation section -->
        <div class="section-recommend">
          <div class="menu-title">
            <span class="sub-title">회원님을 위한 추천</span>
            <span class="find-more">모두 보기</span>
          </div>
          <ul class="recommend-list">
            <li>
              <div class="recommend-friend-profile">
                <img class="img-profile" src="/img/profile03.png" alt="renebaebae님의 프로필 사진">
                <div class="profile-text">
                  <span class="userID point-span">jongsuk0206</span>
                  <span class="sub-span">taeyeon_ss님 외 5명이 팔로우합니다</span>
                </div>
              </div>
              <span class="btn-follow">팔로우</span>
            </li>
            <li>
              <div class="recommend-friend-profile">
                <img class="img-profile" src="/img/profile02.png" alt="_jeongjaehyun님의 프로필 사진">
                <div class="profile-text">
                  <span class="userID point-span">hi_sseulgi</span>
                  <span class="sub-span">heybiblee님이 팔로우합니다</span>
                </div>
              </div>
              <span class="btn-follow">팔로우</span>
            </li>
            <li>
              <div class="recommend-friend-profile">
                <img class="img-profile" src="/img/profile04.png" alt="leehi_hi님의 프로필 사진">
                <div class="profile-text">
                  <span class="userID point-span">skawngur</span>
                  <span class="sub-span">soohyun_k216님 외 8명이 팔로우합...</span>
                </div>
              </div>
              <span class="btn-follow">팔로우</span>
            </li>
          </ul>
        </div>
        <footer>
          <p class="insta-sccript">
            소개 ∙ 도움말 ∙ 홍보 센터 ∙ API ∙ 채용 정보 ∙ 개인정보처리방침 ∙ <br>약관 ∙ 위치 ∙ 인기계정 ∙ 해시태그 ∙ 언어
            <br><br>
            © 2021 DOWNSTAGRAM FROM PIPE-DOWN
          </p>
        </footer>
      </div>
    </main>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script th:inline="javascript">

      $(document).ready(function() {
        likeview();
        commentview();
      });

      function commentview() {
        /*<![CDATA[*/
        var testValue = [[${posts}]];
        for(var i=0; i<testValue.content.length; i++) {
          let postId = testValue.content[i].id;
          let uId = [[${user.id}]];
          $.ajax({
            url : '/comment/list',
            type:'get',
            data : {'id': postId},
            success : function(data){
              var a = '';
              $.each(data, function(key, value){
                var userid = value.user.id;
                var date = value.createdDate;
                var wd = new Date(date.valueOf());
                var w_time = wd.getTime();

                var cur = new Date();
                var c_time = cur.getTime();

                var chai = c_time - w_time;

                a += '<ul class="comments">';

                a += '<li><span><span class="point-span userID">'+value.user.userId+'</span>'+value.content+'</span><div>';

                if(uId == userid) {
                  a += '<a onclick="commentDelete('+ value.id +');">' // likeInsert는 밑에서
                  a += '<img class="comment-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more"></a>';
                }


                a += '<div class="comment-like">';
                a += '<img class="comment-heart" src="/img/like.png" alt="하트">';
                a += '<img class="comment-heart-liked" src="/img/liked.png" alt="좋아요된하트">';
                a += '</div></div></li></ul>';

                a += '<div class="time-log"><span>';
                if(chai < 1000 * 60)
                  a += Math.floor(chai / 1000) + ' 초전';
                else if(chai < 1000 * 60 * 60)
                  a += Math.floor(chai / (1000 * 60)) + ' 분전';
                else if(chai < 1000 * 60 * 60 * 24)
                  a += Math.floor(chai / (1000 * 60 * 60)) + ' 시간전';
                else if(chai < 1000 * 60 * 60 * 24 * 30)
                  a += Math.floor(chai / (1000 * 60 * 60 * 24)) + ' 일전';
                else if(chai < 1000 * 60 * 60 * 24 * 30 * 12)
                  a += Math.floor(chai / (1000 * 60 * 60 * 24 * 30)) + ' 달전';
                a += '</span></div>';

              });
              $(".comment-section" + postId).html(a);
            }
          });
        }
        /*]]>*/
      }

      //댓글 등록
      function commentInsert(pid){
        var insertData = $("[name=commentForm" + pid +"]").serialize();
        $.ajax({
          url : '/comment/insert',
          type : 'post',
          data : insertData,
          success : function(data){
            if(data == 1) {
              commentview();
            }
          }
        });
      }

      function commentDelete(cmt){
        var msg = "댓글을 삭제하시겠습니까?"
        if (confirm(msg)) {
          $.ajax({
            url : '/comment/delete/' + cmt,
            type : 'post',
            success : function(data){
              if(data == 1)
                commentview();
            }
          });
        }
      }

      function likeview() {
        /*<![CDATA[*/
        var testValue = [[${posts}]];
        for(var i=0; i<testValue.content.length; i++) {
          let postId = testValue.content[i].id;
          $.ajax({
            url: "/like/view",
            type: "GET",
            data: {'id' : postId },
          })
                  .done(function (fragment) {
                    let a = '';
                    let b = '';
                    if (fragment.cnt == 1) {   // 현재 로그인 유저가 포스팅 좋아요를 눌렀음
                      a += '<a onclick="likeDelete('+ postId +');"' // likeDelete는 밑에서
                              + 'class="heartIcon" aria-hidden="true">'
                              + '<img class="icon-react" src="/img/liked.png" alt="하트" style="cursor:pointer;"></a>'
                    } else if (fragment.cnt == 0) { // 안눌렀음
                      a += '<a onclick="likeInsert('+ postId +');"' // likeInsert는 밑에서
                              + 'class="heartIcon" aria-hidden="true">'
                              + '<img class="icon-react" src="/img/like.png" alt="하트" style="cursor:pointer;"></a>'
                    }

                    $("#like" + postId).html(a);

                    if(fragment.total_cnt==1) {
                      b += '<img class="pic" src="/img/profile04.png" th:alt="${fragment.userName}+\'님의 프로필 사진\'"><p><span class="point-span">'+fragment.userName+'</span>님 '
                      if(fragment.total_cnt>1) {
                        b+='<span class="point-span">외 '+numberFormatting(fragment.total_cnt-1)+'명 </span>';
                      }
                      b+='이 좋아합니다</p>';
                    }

                    $("#liked-people" + postId)
                            .html(b);
                  });
        }
        /*]]>*/
      }

      function likeInsert(pid){
        $.ajax({
          url : '/like/insert/' + pid,
          type : 'post',
          success : function(data){
            if(data == 1)
              likeview();
          }
        });
      }

      function likeDelete(pid){
        $.ajax({
          url : '/like/delete/' + pid,
          type : 'post',
          success : function(data){
            if(data == 1)
              likeview();
          }
        });
      }

      function numberFormatting(num)
      {
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return num.toString().replace(regexp, ',');
      }

    </script>
</body>
</html>