<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head th:replace="fragments/bodyHeader :: bodyHeader" />
<head>
  <link href="/css/myPage.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img th:src="'/img/profile/'+ ${user.profileImg}" alt="">
      </div>

      <div class="profile-user-settings">
        <h1 class="profile-user-name" th:text="${user.userId}"></h1>
        <button class="btn profile-edit-btn"
                th:onclick="'location.href=\'' + @{'/main/user/update/'+${user.id}} + '\''">프로필 편집</button>

        <button class="btn profile-edit-btn"
                onclick="location.href='/main/upload'">포스팅</button>

        <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
      </div>

      <div class="profile-stats">
        <ul>
          <li><span class="profile-stat-count">164</span> 게시물</li>
          <li><span class="profile-stat-count">188</span> 팔로워</li>
          <li><span class="profile-stat-count">206</span> 팔로잉</li>
        </ul>
      </div>

      <div class="profile-bio">
        <p><span class="profile-real-name" th:text="${user.name}"></span> <span th:text="${user.introduce}+'📷✈️🏕️'"></span> <span th:text="${user.website}"></span></p>
      </div>
    </div>
    <!-- End of profile section -->

  </div>
  <!-- End of container -->
</header>

<main>
  <div class="container">
    <div class="gallery">
      <div class="gallery-item" tabindex="0" th:each="row : ${posting}">
        <img th:src="'/img/feed/'+ ${user.userId} + '/' + ${row.postImages[0].imagePath}" class="gallery-image" alt="">
        <div class="gallery-item-info">
          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of gallery -->

    <div class="loader"></div>
  </div>
  <!-- End of container -->
</main>
</body>
</html>