<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/userList.css" rel="stylesheet" type="text/css" />
</head>
<body>
<head th:replace="fragments/bodyHeader :: bodyHeader" />
<!-- main -->
<main>

  <div class="list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
    <ul class="list">
      <li class="list-item" th:if="${fUser.size() > 0}" th:each="row : ${fUser}">
          <div th:onclick="'location.href=\'' + @{'/main/user/'+${row.id}} + '\''" style="cursor:pointer;">
            <img class="list-item-image" th:if="${user.profileImg != null}" th:src="'/img/profile/'+ ${user.profileImg}" alt="마이페이지">
            <img class="list-item-image" th:unless="${user.profileImg != null}" src="/img/profile04.png" alt="마이페이지">
          </div>
          <div th:onclick="'location.href=\'' + @{'/main/user/'+${row.id}} + '\''" style="cursor:pointer;" class="list-item-content">
            <h4 th:text="${row.name}"></h4>
            <p th:text="'@'+${row.userId}"></p>
          </div>
          <button class="follow-agree-btn" type="button" th:onclick="'accept('+${row.id}+')'" >팔로우 수락</button>
      </li>
      <li class="list-item" th:unless="${fUser.size() > 0}">
        <div>
          팔로우 요청이 없습니다.
        </div>
      </li>
    </ul>
  </div>
</main>
</body>
<script src="/js/jquery.min.js"></script>
<script th:inline="javascript">

    function accept(pid){
        $.ajax({
            url : '/secret/accept/' + pid,
            type : 'post',
            success : function(data){
                if(data == 1)
                    location.reload();
            }
        });
    }
</script>
</html>