<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/userList.css" rel="stylesheet" type="text/css" />
</head>
<body>
<head th:replace="fragments/bodyHeader :: bodyHeader" />
<!-- main -->
<main>

  <div class="list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
    <form action="/main/search" method="get">
      <div class="search-div">
          <input type="text" placeholder="Search..." class="search-input" name="word" th:value="${word}"/>
          <button type="submit" class="search-button">검색</button>
      </div>
    </form>
    <ul class="list">
      <li class="list-item" th:if="${find_user.size() > 0}" th:each="row : ${find_user}">
          <div th:onclick="'location.href=\'' + @{'/main/user/'+${row.id}} + '\''" style="cursor:pointer;">
            <img class="list-item-image" th:if="${user.profileImg != null}" th:src="'/img/profile/'+ ${user.profileImg}" alt="마이페이지">
            <img class="list-item-image" th:unless="${user.profileImg != null}" src="/img/profile04.png" alt="마이페이지">
          </div>
          <div th:onclick="'location.href=\'' + @{'/main/user/'+${row.id}} + '\''" style="cursor:pointer;" class="list-item-content">
            <h4 th:text="${row.name}"></h4>
            <p th:text="'@'+${row.userId}"></p>
          </div>
        </a>
      </li>
      <li class="list-item" th:unless="${find_user.size() > 0}">
        <div>
          해당 검색과 일치하는 결과가 없습니다.
        </div>
      </li>
    </ul>
  </div>
</main>
</body>
</html>