<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <img class="logo_instagram" src="img/logo_text.png" alt="instagram_logo">
    <input type="text" class="input_login" name="loginId" id="loginId" placeholder="전화번호, 사용자 이름 또는 이메일">
    <input type="password" class="input_login" name="passwd" id="passwd" placeholder="비밀번호">
    <a href="#none"><button id="btn_login">로그인</button></a>
    <span class="button_register">계정이 없으신가요? <a href="/guest/register" id="btn_register">가입하기</a></span>

    <!--
    <div>
        <a href="/guest/register" class="btn btn-dark">가입하기</a>
    </div>
    <span th:if = "${ param.error != null }">
        <div class="mt5">로그인 실패</div>
    </span>
    -->

</div>
<script src="js/login.js"></script>
</body>
</html>