<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
<form role="form" action="#" th:action="@{/guest/register}" th:object="${userModel}" method="post">
  <div class="container">

    <img class="logo_instagram" src="/img/logo_text.png" alt="instagram_logo">
    <input type="text" class="input_login" th:field="*{userid}" name="loginId" id="loginId"
           placeholder="전화번호, 사용자 이름 또는 이메일"
           th:class="${#fields.hasErrors('userid')}? 'input_login fieldError' : 'input_login'">

    <input type="password" th:field="*{passwd1}" class="input_login"
           placeholder="비밀번호를 입력하세요"
           th:class="${#fields.hasErrors('passwd1')}? 'input_login fieldError' : 'input_login'">
    <p th:if="${#fields.hasErrors('passwd1')}" th:errors="*{passwd1}">Incorrect date</p>

    <input type="text" class="input_login" th:field="*{name}" name="name" id="name" placeholder="성명"
           th:class="${#fields.hasErrors('name')}? 'input_login fieldError' : 'input_login'">
    <input type="tel" class="input_login" th:field="*{phone}" name="phone" id="phone" placeholder="휴대폰 번호">

    <button type="submit" id="btn_login">가입하기</button>
    <span class="button_register">계정이 있으신가요? <a href="/" id="btn_register">로그인</a></span>

  </div>
</form>
<script src="/js/register.js"></script>
</body>
</html>