* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}
p, span {
    font-size: 14px;
}

label {
    padding: .5em .15em;
    /* color: #fff; */
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    /* background-color: #5cb85c; */
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: .25em;
    display: inline-block;
}